<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tytul</title>
</head>
<body>
<h1>Login</h1>
<ul>
    <li sec:authorize="isAuthenticated()">Witaj, <span sec:authentication="name"></span></li>
    <li><a class="nav-link" href="/">Main</a></li>
    <li sec:authorize="isAnonymous()"><a class="nav-link" href="/login">Login</a></li>
    <li sec:authorize="isAnonymous()"><a class="nav-link" href="/register">Register</a></li>
    <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/create_note">Create notes</a></li>
    <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/perform_logout">Logout</a></li>
</ul>

<form method="post" th:action="@{/login}">
    <p th:if="${loginError}" class="error">Sprobuj ponownie.</p>
    <label for="username">Nick</label>
    <br/>
    <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
    <br/>
    <label for="password">Haslo</label>
    <br/>
    <input type="password" id="password" name="password"/> <br/>
    <br/>
    <input type="submit" value="Log in">
</form>
<br>

</body>
</html>