<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tytul</title>
</head>
<body>
<h1>Zresetuj haslo</h1>

<ul>
    <li sec:authorize="isAuthenticated()">Witaj, <span sec:authentication="name"></span></li>
    <li><a class="nav-link" href="/">Strona domyslna</a></li>
    <li sec:authorize="isAnonymous()"><a class="nav-link" href="/login">Login</a></li>
    <li sec:authorize="isAnonymous()"><a class="nav-link" href="/register">Register</a></li>
    <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/create_note">Create notes</a></li>
    <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/perform_logout">Logout</a></li>
</ul>

<form method="post" th:object="${setPasswordRequest}" th:action="@{/reset_passwd/} + ${uuid}">
    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
    </div>

    <div th:if="${error}">
        <span class="validationError">
        Wrong data
        </span>
    </div>

    <label for="password">Password</label><br/>
    <input type="password" id="password" th:field="*{password}" name="active"/><br/>
    <span class="validationError"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Password Error
    </span>
    <br>
    <h6>
        Password Strength Checker
    </h6>
    <span id="StrengthDisp" class="badge displayBadge">Weak</span>

    <br>
    <br>

    <input type="submit" value="Create">
</form>

<script>
    let timeout;

    let password = document.getElementById('password')

    let strengthBadge = document.getElementById('StrengthDisp')


    let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})')
    let mediumPassword = new RegExp('((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))|((?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])(?=.{8,}))')

    function StrengthChecker(PasswordParameter) {

        if (strongPassword.test(PasswordParameter)) {
            strengthBadge.style.backgroundColor = "green"
            strengthBadge.textContent = 'Strong'
        } else if (mediumPassword.test(PasswordParameter)) {
            strengthBadge.style.backgroundColor = 'blue'
            strengthBadge.textContent = 'Medium'
        } else {
            strengthBadge.style.backgroundColor = 'red'
            strengthBadge.textContent = 'Weak'
        }
    }

    password.addEventListener("input", () => {

        strengthBadge.style.display = 'block'
        clearTimeout(timeout);

        timeout = setTimeout(() => StrengthChecker(password.value), 500);

        if (password.value.length !== 0) {
            strengthBadge.style.display != 'block'
        } else {
            strengthBadge.style.display = 'none'
        }
    });
</script>

</body>
</html>